/* Retro-style CSS */

body {
  background: #AA076B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Arial', sans-serif;
}

.navigation {
  background-color: #333333;
  padding: 10px;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  margin-right: 10px;
}

.navigation ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #ff9900;
}

.breadcrumb {
  background-color: #f0f0f0;
  padding: 10px;
  font-size: 14px;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav{
  font-weight: bolder;
  
}

a{
  color: white;
}

h1 {
  font-size: 24px;
  color: #333333;
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
  font-weight: bolder;
  color: WHITE;
  margin-bottom: 10px;
}
p {
  font-size: 16px;
  color: white;
  line-height: 1.5;
  font-weight: lighter;
  text-align: justify;
}

.medicine-card {
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 10px; /* Add border-radius for curved background */
}

.medicine-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.medicine-card h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 5px;
}

.medicine-card p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 10px;
}

.content-section {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
